@media screen and (max-width:375px) {
    .container{
        width: 375px;
        height: auto;
    }

    .container .img{
        display: none;
    }

    .container .img-mobile{
width: 375px;
height: 240px;
background-image: url("../images/image-product-mobile.jpg");
display: flex;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
    }

    .container{
        flex-direction: column;
        height: auto;
    }

    .content {
        width: 100%;
        height: auto;
        padding: 15px 15px 25px 15px;
    }
}